---
const { action, method } = Astro.props
---

<form
	action={action}
	method={method}
	class:list={['mx-auto max-w-xl space-y-8 border border-blue-300 p-8 rounded-2xl shadow-sm/100 shadow-blue-300']}
>
	<slot />
</form>
