---
const { buttonType, href, label } = Astro.props as {
	buttonType: 'link' | 'submit'
	href: string
	label: string
}

const className = {
	base: 'px-5 py-2.5 text-lg shadow-sm/20 rounded-md font-bold hover:scale-105 transition inline-flex items-center',
	primary: 'bg-blue-600 text-white'
}
---

{
	buttonType == 'submit' ? (
		<button type="submit" class:list={[className.base, className.primary]}>
			{label}
		</button>
	) : (
		<a href={href} class:list={[className.base, 'bg-white text-black']}>
			{label}
		</a>
	)
}
