---
import "../styles/global.css";

const siteTitle = "BELAJAR";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title} | {siteTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
