---
import FormButton from '../components/FormButton.astro'
import FormInput from '../components/FormInput.astro'
import FormWrapper from '../components/FormWrapper.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Register">
	<div class="min-h-screen min-w-screen place-content-center p-4">
		<FormWrapper action="/register" method="post">
			<FormInput htmlType="text" id="username" label="Username" />
			<FormInput htmlType="email" id="email" label="Email" />
			<FormInput htmlType="password" id="password" label="Password" />
			<div class="space-x-4">
				<FormButton buttonType="submit" label="Kirim" />
				<FormButton buttonType="link" href="/login" label="Login" />
			</div>
		</FormWrapper>
	</div>
</BaseLayout>