package view

import (
	"embed"
	"net/http"
	"pr4idk/view/layouts"
)

//go:embed assets/css/main.css
var CssFile embed.FS

//go:embed assets/js/main.js
var JsFile embed.FS

templ Index(w http.ResponseWriter, r *http.Request) {
	@layouts.BaseLayout("Todo Apps") {
	}
}
