package template

templ Layout(content templ.Component) {
	<!DOCTYPE html>
	<html>
	<head>
		<title>HTMX + Go + templ</title>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	</head>
	<body>
		<h1>HTMX + templ 🚀</h1>
		@content
	</body>
	</html>
}
