package pages

import "pr3idk/view/layouts"
import "fmt"

func pageTitle(s string) string {
	return fmt.Sprintf("Hai👋, %s. Selamat Datang.", s)
}

templ Dashboard(username string) {
	@layouts.BaseLayout(pageTitle(username)) {
		<nav class="d-flex justify-content-center">
			<a href="/logout" class="btn btn-danger btn-lg">Keluar</a>
		</nav>
	}
}
