package pages

import "pr3tdo/view"

templ About(title, description string) {
	@view.Layout(title, description) {
		<header>
			<h1>{ title }</h1>
			<p>{ description }</p>
      <a href="/">Kembali Ke Home</a>
		</header>
	}
}
