<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <header>
    <h1>BSMD TODO APP</h1>
  </header>

  <main>
    <strong>Created: {{ .Date }}</strong>
    <br>
    <strong>Updated: {{ .Lastmod }}</strong>
    <hr>
    <strong>Tags: </strong>
    <ul>
      {{ range .Tags }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
    {{ .Content }}
  </main>

  <footer>
    <aside>
      <p>Copyright 2026 - BSMD TODO</p>
    </aside>
  </footer>

  <script src="/assets/js/main.js"></script>
</body>
</html>
